@charset "UTF-8";
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,figure,figcaption,fieldset,legend{
    margin:0;
    padding:0;
    }
    h1,h2,h3,h4,h5,h6{
    font-size:12px;
    font-weight:normal;
    }
    ol,ul,li{
    list-style:none
    }
    b,strong{
    font-weight:normal;
    }
    em,i{
    font-style:normal;
    }
    a,u{
    text-decoration:none;
    }
    img{
    display:block;
    }
    .clear_fix::after{
    content:"";
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
    }
    .fl{
    float:left;
    }
    .fr{
    float:right;
    }
    input{
    outline:none;
    }
    //logo
   .logo-wrap{
       margin: 0;
       .logo{
        width: 1130px;
        margin: 0 auto;
        .logo-content{
            width: 200px;
            height: 98px;
            background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;
        }
       }
   }
   //内容
   .content{
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/8e9e29628af90be1468d6ddad0f01e48.jpg);
    width: 100%;
    height: 588px;
    position: relative;;
    left: 0;
    background-repeat: no-repeat;
    background-position: top center;
    }
    .main-content{
        padding-top: 32px;
        width: 1130px;
        margin: 0 auto;
    }
    .layout{
        width: 410px;
        min-height: 556px;
        font-size: 14px;
        z-index: 4;
        background-color: #fff;
        max-width: 854px;
        float:right;
        margin-right: 0; 
    }
    .nav-tabs{
        padding: 27px 0 24px;
        text-align: center;
        font-size: 24px;
        color: #666;
        a{
            color: #666;
        }
        .now{
            color: #f56600;
        }
        span{
            width: 1px;
            height: 24px;
            margin: 0 35px 0 42px;
            border: 1px solid #e0e0e0;
        }
    }
    .login-area{
        width: 348px;
        padding-bottom: 0;
        margin: 0 auto;
        input{
            width: 306px;
            height: 22px;
            margin-bottom: 14px;
            line-height: 22px;
            padding: 13px 16px 13px 14px;
            display: block;
        }
        .first{
            margin-top: 10px;
       }
    }

    .login-area   .btn{
            background-color: #ff6700;
            width: 100%;
            height: 50px;
            display: block;
            margin-bottom: 14px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
            border: none;
        }
    //底部
    .footer{
        height:80px;
        background: #fff;
        margin-top: 0;
        z-index: 4;
        text-align: center;
        ul{
            margin-top:100px;
            color: #757575;
        }
        li{
            display: inline-block;
            a{
                color: #757575;
                padding: 0 10px;
                font-size: 14px;
            }
        }
    }
    .nf{
        padding: 10px;
        color: #757575;
        font-size: 14px;
        img{
            display: inline-block;
        }
    }
