body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, figure, figcaption, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal; }

ol, ul, li {
  list-style: none; }

b, strong {
  font-weight: normal; }

em, i {
  font-style: normal; }

a, u {
  text-decoration: none; }

img {
  display: block; }

.title-box-wrap {
  z-index: 4;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07); }

.title-box {
  height: 63px;
  width: 100%;
  margin-top: 0;
  color: #616161; }

.container {
  width: 1226px;
  margin: 0 auto; }
.container h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: #212121;
  float: left; }
.container .right {
  float: right;
  margin: 17px 0 0 0;
  color: #616161; }
.container .right a {
  color: #616161;
  font-size: 14px; }

.buybox {
  padding-bottom: 50px; }

.buybox-main {
  padding-top: 32px;
  padding-bottom: 12px;
  width: 1224px;
  margin: 0 auto;
  position: relative; }

.buybox-main::after {
  content: " ";
  clear: both;
  display: table; }

.buybox-left {
  float: left;
  width: 606px;
  height: 600px;
  margin-left: 0;
  position: relative; }
.buybox-left .wrap {
  float: left;
  position: relative; }
.buybox-left #spicbox {
  width: 400px;
  height: 400px;
  float: left;
  position: relative; }
.buybox-left #spicbox img {
  width: 400px;
  height: 400px; }
.buybox-left #sf {
  width: 50px;
  height: 50px;
  background: orange;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden; }
.buybox-left #bf {
  width: 400px;
  height: 500px;
  border: 1px solid #000;
  overflow: hidden;
  position: absolute;
  left: 410px;
  visibility: hidden;
  z-index: 100; }
.buybox-left #bf img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 800px; }
.buybox-left #ulist {
  position: absolute;
  left: 0px;
  top: 430px;
  width: 402px;
  height: 56px;
  overflow: hidden; }
.buybox-left #ulist a {
  float: left;
  width: 10px;
  height: 54px;
  border: 1px solid #ccc;
  text-decoration: none;
  line-height: 56px;
  text-align: center;
  background: #fff; }
.buybox-left #list {
  float: left;
  margin-left: 18px;
  width: 372px;
  position: relative; }
.buybox-left .wrap ul {
  list-style: none;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px; }
.buybox-left .wrap ul li {
  float: left;
  width: 56px;
  height: 56px;
  padding-right: 6px; }
.buybox-left .wrap ul li img {
  width: 52px;
  height: 52px;
  border: 1px solid #ccc; }
.buybox-left #right {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #333; }
.buybox-left #left {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  color: #fff; }

.buybox-right {
  float: left;
  width: 606px;
  margin-left: 12px;
  min-height: 1px; }
.buybox-right .goods-title {
  font-size: 24px;
  font-weight: normal;
  color: #212121;
  margin: 0;
  padding: 0;
  padding-top: 8px; }

.xm-main .ziying {
  margin-bottom: 0;
  color: #ff6700; }

.xm-price {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #ff6700;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0 20px; }
.xm-price span {
  font-size: 18px;
  line-height: 1;
  color: #ff6700; }

.address {
  margin-top: 40px;
  margin-bottom: 40px; }
.address .address-main {
  background: #fafafa;
  border: 1px solid #e0e0e0;
  padding-left: 50px;
  padding: 30px 40px 30px 32px; }

.list-wrap {
  margin-top: 30px; }
.list-wrap .list-main {
  margin-bottom: 30px; }

.list-main .choose-color {
  font-size: 18px; }

.list-main .color {
  font-size: 16px;
  margin-left: 6px;
  margin-top: 15px;
  line-height: 42px;
  width: 298px;
  height: 42px;
  position: relative;
  color: #ff6700;
  border: 1px solid #ff6700;
  list-style: none;
  cursor: pointer;
  text-align: center; }

.list-main .numbox .number {
  display: block;
  font-size: 16px;
  margin-left: 6px;
  margin-top: 15px;
  line-height: 42px;
  width: 298px;
  height: 42px;
  text-align: center;
  position: relative;
  color: #000;
  border: 1px solid #000; }

.buybtn {
  padding: 0;
  margin: 10px 0 20px 0; }
.buybtn a {
  width: 298px;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  display: inline-block;
  margin-left: 6px;
  color: #fff;
  background-color: #ff6700;
  border: 1px solid #ff6700;
  text-align: center; }

/*# sourceMappingURL=detail.css.map */
